<nav class="navbar navbar-default" role="navigation" id="nav-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/mainpage">Location Sharing</a>
		</div>
		<div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="/mainpage">Home</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/users/personalinfo"><span class="glyphicon glyphicon-user"></span>Personal Information</a></li>
				<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
			</ul>
		</div>
	</div>
</nav>
<ul class="nav nav-pills nav-justified" id="pill-top">
	<li><a href="/mainpage">Index</a></li>
	<li><a href="/footprints">Our Footprints</a></li>
	<li><a href="/trip">Manage your trip</a></li>
	<li><a href="/comments">Bulletin Board</a></li>
	<li><a href="/about">About this app</a></li>
</ul>