<div class="float-info" id="user-info">
	<h4 id="info"></h4>
	<table class="table table-striped">
		<tr>
			<td>Current location:</td>
			<td id="geolocation" class="db-content"></td>
		<tr>
		<tr>
			<td>Current job:</td>
			<td id="job" class="db-content"></td>
		<tr>
		<tr>
			<td>Hobbies:</td>
			<td id="hobby" class="db-content"></td>
		<tr>
	</table>
	<button class="window-close btn btn-success btn-lg">Close</button>
</div>

<div id="popup-info" class="float-info">
	<p class="info"></p>
	<button class="window-close btn btn-success btn-lg">Close</button>
</div>