<!DOCTYPE>
<html>
	<head>
		<% include ../partials/head %>
		<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-social.css">
		<title>About</title>
	</head>
	<body>
		<% include ../partials/header %>
		<script>
			$('#pill-top').children('li').eq(4).addClass('active');
		</script>
		<div class="content">
			<h1 class="content-heading">About this app</h1><hr>
			<div class="container">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe src="https://www.youtube.com/embed/0Abq0vkT190" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="jumbotron">
					<p>This song was written by a Chinese folk singer Di Ma, and it expresses the singer's feelings on his old friends and lover, which also inspired me. This app was designed to allow friends to share their location information with each other, and broadcast their travel plan to their friends. Since we were separated after graduation, this app could give us a clearer view on when we should hang out together again. My next step would be linking my data to Wechat, which is a famous Chinese instant messenger (like WhatsApp), so that they can get their information update with their smart phones easily! </p>

					<p>Currently, I am also looking for a entry level job related to web development! If you think I could be a good fit to your opening poistions, please contact me with following information.</p>

					<p> In addition, here is <a href="http://www.pages.drexel.edu/~md3285/Mingchuan" target="_blank">my personal web page</a> which contains more information about myself! </p>

					<p><strong>My email:</strong> dongmingchuan@gmail.com <strong>Linkedin:</strong> <a class="btn btn-social-icon btn-twitter" href="https://www.linkedin.com/in/mingchuandong" target="_blank"><span class="fa fa-twitter"></span></a></p>
				</div>
			</div>
		</div>
	</body>
</html>