<!DOCTYPE>
<html>
	<head>
		<title>Pending</title>
		<link rel="stylesheet" href="/stylesheets/index.css">
	</head>
	<body>
		<div id="Information" class="center">
			<h1>Woops!</h1>
			<p>It seems that your application is still pending....</p>
			<p>If you still want to try this system, please use account: </p>
			<p></p>
		</div>
	</body>
</html>